.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 70px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-menu li {
  position: relative;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
  color:black;
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  box-shadow: 0 0 10px #ff00cc, 0 0 20px #3333ff;
  animation: bling 2s infinite alternate;
}


/* Hover effect for a bit of sparkle */
.nav-menu li:hover {
  background: linear-gradient(90deg, #ff66cc, #6666ff);
  animation: bling-fast 1s infinite alternate;
}



.nav-connect {
  position: fixed;               /* Keeps it fixed even on scroll */
  top: 20px;                     /* Distance from top */
  right: 20px;                   /* Distance from right */
  
  padding: 15px 35px;
  border-radius: 50px;
  background: linear-gradient(90deg, #4b0341, #ce1d99, #ff7eb3);
  background-size: 200%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  animation: gradientMove 5s ease infinite;
  z-index: 1000;                 /* Ensures it stays above other elements */
}

/* Animation for gradient background */


/* Hover effect */
.nav-connect:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(255, 118, 140, 0.5);
}


.nav-connect:hover{
  transform: scale(1.05);
}
